<div layout="column">


    <header>
        <acme-navbar></acme-navbar>
    </header>

    <div layout="column" layout-padding>
        <div layout="row">
        <div flex-offset="25" flex="50">
        <h3>Introduction</h3>
        <p>
            The tool below shows different statistics about all the indexed links from <a
                href="http://www.newscombinator.com">The Newscombinator</a>. We are indexing in realtime whatever comes in from ycombinator, reddit, inbound, etc. Times are in UTC.
            <br />
            <br />

            What is the tool useful for? <button ng-click="main.examplePickupRate()">Click here for example</button>, when you want to know the best pickup rate for a submission on YC. Or run any other arbitrary statistics with submitted links.

            <br/>
            <br/>
            Refine your search by clicking into the charts directly, or <a href="https://github.com/tomw1808/newscombinator-stats" target="_blank"> clone and hack this.</a>


            <br />
            <br />
            <br />
            <br />
            <br />
        </p>
        </div>
        </div>
        <form ng-submit="main.loadChart();" flex>

            <div layout="column">

                <div layout="row" layout-fill layout-align="center center" ng-repeat="keywordObj in main.keywords">
                    <md-button type="button" class="md-icon-button md-primary"
                               ng-click="main.keywords.splice($index,1); main.loadChart();">
                        <md-icon>clear</md-icon>
                    </md-button>
                    <md-input-container flex="20">
                        <label>Type</label>
                        <md-select ng-model="keywordObj.type">
                            <md-option ng-value="type" ng-repeat="type in main.keywordTypes">
                                {{type.typeName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex ng-show="keywordObj.type.type == 'select'">
                        <label>Select a Value</label>
                        <md-select ng-model="keywordObj.keyword">
                            <md-option ng-repeat="value in keywordObj.type.values" value="{{value}}">{{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex ng-show="keywordObj.type.type == 'text'">
                        <label>One Keyword at a Time (e.g. *google.com* or Elon Musk)</label>
                        <input name="url" ng-model="keywordObj.keyword"/>
                    </md-input-container>
                    <md-input-container flex ng-show="keywordObj.type.type == 'datepicker'">
                        <div flex layout layout-align="end center">
                            <span class="md-body-1">Choose a Date</span>
                        </div>
                        <md-datepicker ng-model="keywordObj.date" md-placeholder="Choose a Date" aria-label="Choose a Date"></md-datepicker>
                    </md-input-container>
                    <div flex ng-show="keywordObj.type.type == 'slider'" layout-padding="50 0" layout
                         layout-align="center center">
                        <md-slider aria-label="{{type.typeName}}" flex md-discrete ng-model="keywordObj.keyword"
                                   step="{{keywordObj.type.step}}" min="{{keywordObj.type.min}}"
                                   max="{{keywordObj.type.max}}"
                                   ng-change="main.loadChart()">
                        </md-slider>
                    </div>
                </div>


                <div layout="row" layout-fill layout-wrap>
                    <div layout="row" flex>
                        <md-button type="button" class="md-primary md-raised" ng-click="main.addKeyword();" flex>
                            <md-icon>add</md-icon>
                            Add Search Criteria.
                        </md-button>
                    </div>
                </div>
            </div>
        </form>

        <div layout="row" layout-padding>
            <date-chart flex data="main.directivedata"></date-chart>

            <source-chart flex data="main.directivedata"></source-chart>
        </div>
        <div layout="row" layout-padding>
            <weekday-chart flex data="main.directivedata"></weekday-chart>
            <hours-pickup-chart flex data="main.directivedata"></hours-pickup-chart>
        </div>

        <div layout="row" layout-padding>
            <documents-per-points-chart flex data="main.directivedata"></documents-per-points-chart>
            <documents-on-frontpage-chart flex data="main.directivedata"></documents-on-frontpage-chart>
        </div>
        <div layout="column" layout-padding layout-margin>
            <keywords-table flex data="main.directivedata"></keywords-table>

        </div>
    </div>

</div>
